
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            @Html.ActionLink("Incredible Invoicer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Masters<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Customers">Customers</a></li>
                        <li><a href="~/Taxes">Taxes</a></li>
                        <li><a href="~/Units">Units</a></li>
                        <li><a href="~/States">States</a></li>

                    </ul>
                </li>

                <li><a href="~/Invoices">Invoices</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Invoices/InvoiceRpt">Invoices</a></li>
                        <li><a href="~/invoices/SummaryRpt">Summary</a></li>
                    </ul>
                </li>

            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
