body {
    background-color: #614530;
    color: white;
}


a, .navbar-nav, .well-lg {
    color: #E0A67A;
}

.eabutton {
    color: brown !important;
    background-color: bisque;
}

.text-danger {
    background-color:antiquewhite;
    
}

input {
    color: black !important;
}

textarea {
    color: black;
    width:80%;
}

.myamenu {
    color: darkslateblue !important;
    background-color: bisque;
    text-align: center;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}

.myatag {
    color: brown;
    background-color: bisque;
    text-align: center;
    padding: 3px;
    border: inset thin;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    filter: drop-shadow(5px 5px 5px #222);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
}



/* Nice box for details in a Mast Detail screen */
.MastDet {
        background-image: url(../Custom/EAwell.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding-top: 5px;
        padding-left: 30px;
        padding-bottom: 10px;
        padding-right: 15px;
    }


/* Bigger Checkboxes */
input[type=checkbox] {
    zoom: 1.5;
 }

.section-to-only-print, .section-to-only-print * {
    visibility:hidden;

}

#InvPage td {
    border-top: none !important;
    padding: 0px !important;
}

#InvPage th {
    border-bottom: 1px solid #ddd;
    border-top: none;
    padding: 0px !important;
}

@media print {

    body * {
        visibility: hidden;
        
    }

    .section-to-not-print {
        visibility: hidden;
        display: none;
    }

    #PrintHeader, #PrintHeader * {
        visibility: visible;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

    .section-to-print, .section-to-print *, .section-to-only-print, .section-to-only-print * {
        visibility: visible;
        display:normal;
    }

    .eabreakpage {
        page-break-after: always;
    }

    td {
        border-top: none;
        padding: 0px;
    }
    
    tr {
        padding:0px;
    }

    #InvPage th, tr,td {
        border-top: none;
        padding: 0px !important;
    }
}